@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #f96e5b;
  
  padding-left:100px;
  padding-right:100px;
  width:80%;
  
 
 
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
 
  
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Lato';
$gutter: 15px;
$animate: all 0.2s ease-in-out;
$rounded: 4px;
$col1: desaturate(#FF22CC, 40%);
$col2: desaturate(#EE0088, 40%);
$col3: desaturate(#DD33AA, 40%);
$col4: desaturate(#AA3399, 40%);
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(#444 -50%, #000 150%);
  font-family: "Montserrat", sans-serif;
}

hr {
  border: none;
  float: left;
  width: calc(100% + #{$gutter*2});
  height: 1px;
  background-color: darken(white, 10%);
  margin: 15px 0 20px;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0 0;
  padding: 10px 15px;
}

h1 {
  font-size: 36px;
  padding: 0;
  float: none;
  background-color: transparent;
  color: inherit;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}



header {
  float: left;
  width: calc(100% + #{$gutter*2});
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin-bottom: $gutter;
  background-color: black;
  .logo {
    float: left;
    font: 0/0 a;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/448277/codepen-logo-9c0933e8569e634b75ac2eb808da908d.svg) no-repeat 18px 21px;
    background-size: 138px 24px;
    background-color: black;
    width: 180px;
    height: 65px;
    border: 0;
    outline: 0;
    position: relative;
    z-index: 99999;
  }
  .author {
    float: right;
    color: white;
    line-height: 21px + 21px + 24px;
    margin: 0 $gutter 0 0;
    font-size: 95%;
    a {
      color: darken(white, 25%);
      transition: $animate;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
  }
}
